<%- include('../partials/header.ejs')  %>

<body>

  <div class="container text-left ">
    <div class="row">
      <div class="col d-flex m-auto">
        <img src="/<%= item.images_front %>" alt="<%= item.nombre %>">
      </div>

      <div class="col d-flex flex-column justify-content-center align-items-start item-view">
        <p class="product-brand"><%= item.marca %></p>
        <h3 class="product-name"><%= item.nombre %></h2>
        <h3 class="product-description"><%= item.product_description %></h5>
        <p class="product-price">$<%= item.precio %></p>
        <div class="agregar d-flex justify-content-left flex-wrap ">
          
          <input class="item_cantidad col-2" type="text" id="item_cantidad" name="item_cantidad" min="0" max="100" value="0">
          <div class="cantidad d-flex flex-column">
          <button class="cantidad_add_sub d-flex align-items-center" id="add_item" onclick="sumar()">+</button>
          <button class="cantidad_add_sub d-flex align-items-center" id="subs_item" onclick="restar()">-</button>
        </div>
          <button type="button" class="btn btn-danger add-btn" id="btn-add">Agregar al carrito</button>
        </div>
        <p class="product-cuotas"><a href="#">Ver metodos de pago</a> - 3 CUOTAS SIN INTERES</p>

      </div>

      <div class="row productos-relacionados">
        <h3 class="d-flex mt-5">PRODUCTOS RELACIONADOS</h3>

      </div>

      <div class="row d-flex cards">
        <div class="col text-start m-2 item-card"><img src="/images/star-wars/trooper-1.webp" alt="baby-yoda">
          <p class="product-brand">STAR WARS</p>
          <h4 class="product-name">STORMTROOPER LIGHTSABER</h4>
          <h5 class="product-price">$ 1500</h5>
          <p class="product-cuotas">3 CUOTAS SIN INTERÉS</p>
        </div>
        <div class="col text-start m-2 item-card"><img src="/images/pokemon/pidgeotto-1.webp" alt="pidgeotto">
          <p class="product-brand">POKEMON</p>
          <h4 class="product-name">PIDGEOTTO</h4>
          <h5 class="product-price">$ 3000</h5>
          <p class="product-cuotas">3 CUOTAS SIN INTERÉS</p>

        </div>

        <div class="col text-start item-card"><img src="/images/harry-potter/harry-1.webp" alt="luna">
          <p class="product-brand">HARRY POTTER</p>
          <h4 class="product-name">LUNA LOVEGOOD LION MASK</h4>
          <h5 class="product-price">$ 2500</h5>
          <p class="product-cuotas">3 CUOTAS SIN INTERÉS</p>

        </div>

      </div>


    </div>
  </div>

  <%- include('../partials/footer.ejs')  %>



</body>



</html>