<%- include('../partials/header.ejs')  %>

<body>

    <div class="container store-container m-auto">
        <div class="row d-flex justify-content-center mt-5 p-0 g-0 store-content">
            <div class="col-lg-4 col-md-3 col-sm-12 filter-search">
                <h3 class="filtro-titulo mt-2">Buscar</h3>
                <input type="search" name="buscar" id="buscar" placeholder="filtro o categoría" class="form-control">
                <h3 class="filtro-titulo mt-3">Ordenar por</h3>
                <select class="form-select" id="sort-select" onchange="updateSort()">
                    <option value="price-desc" <%= sortOption === 'price-desc' ? 'selected' : '' %>>Mayor a menor precio</option>
                    <option value="price-asc" <%= sortOption === 'price-asc' ? 'selected' : '' %>>Menor a mayor precio</option>
                    <option value="alphabetical-az" <%= sortOption === 'alphabetical-az' ? 'selected' : '' %>>Alfabético A-Z</option>
                    <option value="alphabetical-za" <%= sortOption === 'alphabetical-za' ? 'selected' : '' %>>Alfabético Z-A</option>
                </select>
                <h3 class="filtro-titulo mt-3">Precio</h3>
                <div class="col d-flex filter-col">
                    <label for="precio" class="label">min:
                        <input type="number" placeholder="$1" min="1" class="form-control" />
                    </label>
                    <label>-</label>
                    <label for="precio" class="label">max:
                        <input type="number" placeholder="$1200" min="2" max="9999" class="form-control" />
                    </label>
                </div>
                <h3 class="filtro-titulo mt-3">Filtrar</h3>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="check-nuevo" checked>
                    <label class="form-check-label" for="check-nuevo">
                        Nuevos
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="check-oferta">
                    <label class="form-check-label" for="check-oferta">
                        Oferta
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="check-edicion">
                    <label class="form-check-label" for="check-edicion">
                        Edición
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="check-favoritos">
                    <label class="form-check-label" for="check-favoritos">
                        Favoritos
                    </label>
                </div>
            </div>


            <div class="col-lg-8 col-md-9 col-sm-12 store-row container row">
             <% data.forEach(item =>  { %> 
                    <div class="col-md-3 col-sm-6 w-auto text-start item-card">
                        <ul class="product-image-list">
                            <li class="product-image">
                                <a href="/shop/item/<%= item.id_product %>">
                                    <img class="product-image" src="../images/<%= item.img_front_product %>" alt="<%= item.name_product %>" /> 
                                
                            </li>
                            <li class="hovered">
                                <img class="product-image hidden" src="../images/<%= item.img_back_product %>" alt="<%= item.name_product %>" /> </a>
                            </li>
                        </ul>
                        
                        <p class="product-brand"><%= item.name_licence %></p>
                        <h4 class="product-name"><%= item.name_product %></h4>
                        <h5 class="product-price">$<%= item.price_product %></h5>
                        <p class="product-cuotas">HASTA <%= item.cuota_product %> CUOTAS SIN INTERÉS</p>
                    </div> <%  })  %> 
           
            </div>
        </div>
        <nav class="d-flex justify-content-center my-4">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Footer -->
    <%- include('../partials/footer.ejs')  %> 

    <script>
        function updateSort() {
            const sortValue = document.getElementById('sort-select').value;
            window.location.href = `/shop?sort=${sortValue}`;
        }
    </script>

</body>

</html>
